@model ASMMAIN.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa User</h1>

<h3>Bạn có chắc chắn muốn xóa user này không?</h3>
<div>
    <h4>User</h4>
    <hr />
    <div class="gird">
    <dl class="grid_row">
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.Email)
        </dd>
  
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
     
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "grid_column-2 label--info label--title label">
           PhoneConfirmed
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
       
    </dl>
    </div>
    
    <form method="post" asp-action="DeleteConfirmed" asp-area="manage" asp-controller= "User">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn--danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
