@model ASMMAIN.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <div class="grid">

    <dl class="grid_row">
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.UserName)
        </dd>
       
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.Email)
        </dd>
   
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
    
        <dt class = "grid_column-2 label--info label--title label">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "grid_column-2 label--info label--title label">
            PhoneConfirmed
        </dt>
        <dd class = "grid_column-10 label label--white label--text-black">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
      
    </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn--primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
