@{
    ViewData["Title"] = "Home Page";
    var categories = ViewData["categories"] as List<Category> ;
    string display = "";
}
@model List<ASMMAIN.Models.Product>

    <link rel="stylesheet" href="/css/manage.css" />

<link rel="stylesheet" href="~/css/product.css">

<body>
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column-3">
                <h2>Danh mục</h2>
                <hr>
                <h2 class="label-category">Tất cả sản phẩm</h2>
                <hr>
                <nav class="category">
                           
                            @*  category-item-active *@
                            <ul class="category-list">
                                  <li class="category-item">
                                    <a asp-action="index" asp-route-id="" asp-route-num="-1" class="category-item_link">Tất cả sản phẩm</a>
                                </li>
                                @for (var i = 0; i < categories.Count; i++)
                                {
                                     <li class="category-item">
                                    <a asp-action="Index" asp-route-id="@categories[i].category_id" asp-route-num="@i" class="category-item_link">@categories[i].name</a>
                                </li>
                                }
                          
                            </ul>
                        </nav>
            </div>

            <div class="grid_column-9">
                <div class="grid_column-full">
                    <h2>Sản phẩm</h2>
                    <hr>

                </div>
                <div class="grid_column-full ">
                    <form asp-action="Index" asp-controller="Home">
                     <div class="filter">

                        <div class="filter_select form-select">
                            <select class="filter_select-input"  name="Order" id="Order">
                                <option class="filter_select-option" value="Theo giá"><a href="">Theo giá</a></option>
                                <option class="filter_select-option" value="Theo tên"><a href="">Theo tên</a></option>
                            </select>
                        </div>
                        <div class="filter_select form-select">
                            <select class="filter_select-input" name="TypeOder" id="Order">
                                <option class="filter_select-option" value="Tăng dần"><a href="">Tăng dần</a></option>
                                <option class="filter_select-option" value="Giảm dần"><a href="">Giảm dần</a></option>
                            </select>
                        </div>
                         <div class="filter_select">
                            <button type="submit" style="display: block;background-color: cornflowerblue; " class="box_btn btn-primary btn--size-m">Lọc kết quả</button>
                        </div>
                     </div>
                    <hr>
                    </form>
                </div>
              
                 @foreach (var item in Model)
                 {
                    <div class="grid_column-3 product_box ">
                       <a asp-action="detail" asp-route-id="@item.product_id" style="text-decoration: none;">
                         <div class="box">
                            <div class="box_wrap-img">
                                <img src="~/images/@item.image_url"
                                    alt="" class="box_img">
                                <div class="box_price">
                                    <span>$</span>
                                    <label class="box_price-title">@item.price</label>
                                </div>
                            
                            </div>
                            <div class="box_body">
                                <div class="box_body-name">@item.name</div>
                                @if (@item.quantity == 0)
                                {
                                 <div style="font-size: 1.2rem;" class="text text-dark">Số lượng: <span class="text-danger" id="count-@item.product_id">Hết hàng</span></div>
                                  display = "hidden";
                                }else{ 
                                 <div style="font-size: 1.2rem;" class="text text-dark">Số lượng: <span class="text-success" id="count-@item.product_id">@item.quantity</span></div>
                                    display = "visible";
                                }

                                @* <div class="box_body-saleoff">20%</div>
                                    <p class="box_body-desc">thanh dep trai nhat the gioi lun a nha may ban oi co thich trai
                                    dep thi lien he minh gap di nha nha nhaaaaaaaaaaa</p> *@
                            </div>
                           
                         </div>
                        </a>
                             <div class="box_footer">
                                <a style="visibility: @display;"  id="btn-@item.product_id" asp-action="Add" asp-controller="cart" asp-route-id="@item.product_id" onclick="addCart('/images/@item.image_url','@item.name','@item.price' , '@item.product_id')" class="box_btn">Thêm vào giỏ</a>
                            </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</body>