@{
    ViewData["Title"] = "Home Page";
    var categories = ViewData["categories"] as List<Category> ;

}
@model List<ASMMAIN.Models.Product>

    <link rel="stylesheet" href="/css/manage.css" />

<link rel="stylesheet" href="~/css/product.css">

<body>
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column-3">
                <h2>Danh mục</h2>
                <hr>
                <h2 class="label-category">Tất cả sản phẩm</h2>
                <hr>
                <nav class="category">
                           
                            @*  category-item-active *@
                            <ul class="category-list">
                                  <li class="category-item">
                                    <a asp-action="index" asp-route-id=""  class="category-item_link">Tất cả sản phẩm</a>
                                </li>
                             @foreach (var item in categories)
                             {
                                  <li class="category-item">
                                    <a asp-action="Index" asp-route-id="@item.category_id" class="category-item_link">@item.name</a>
                                </li>
                             }
                            </ul>
                        </nav>
            </div>

            <div class="grid_column-9">
                <div class="grid_column-full">
                    <h2>Sản phẩm</h2>
                    <hr>

                </div>
                <div class="grid_column-full ">
                    <form action="/action_page.php">
                     <div class="filter">

                        <div class="filter_select">
                            <select class="filter_select-input"  name="Order" id="Order">
                                <option class="filter_select-option" value="volvo">Theo giá</option>
                                <option class="filter_select-option" value="saab">Theo tên</option>
                            </select>
                        </div>
                        <div class="filter_select">
                            <select class="filter_select-input" name="Order" id="Order">
                                <option class="filter_select-option" value="volvo">Tăng dần</option>
                                <option class="filter_select-option" value="saab">Giảm dần</option>
                            </select>
                        </div>
                     </div>
                    <hr>
                    </form>
                </div>
              
                 @foreach (var item in Model)
                 {
                    <div class="grid_column-3 product_box ">
                       <a style="text-decoration: none;" href="">
                         <div class="box">
                            <div class="box_wrap-img">
                                <img src="~/images/@item.image_url"
                                    alt="" class="box_img">
                                <div class="box_price">
                                    <span>$</span>
                                    <label class="box_price-title">@item.price</label>
                                </div>
                            
                            </div>
                            <div class="box_body">
                                <div class="box_body-name">@item.name</div>
                                @* <div class="box_body-saleoff">20%</div>
                                    <p class="box_body-desc">thanh dep trai nhat the gioi lun a nha may ban oi co thich trai
                                    dep thi lien he minh gap di nha nha nhaaaaaaaaaaa</p> *@
                            </div>
                           
                         </div>
                        </a>
                             <div class="box_footer">
                                <button onclick="addCart('/images/@item.image_url','@item.name','@item.price' , '@item.product_id')" class="box_btn">Thêm vào giỏ</button>
                            </div>
                    </div>
                 }
                 <button>a</button>
            </div>
        </div>
    </div>
</body>